<div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto ">
<div id="pay-invoice" class="card">
<div class="card-body bg-light" >
<div class="card-title bg-white">
<div class="payment-info">
<h3 class="text-center text-primary">PayPal</h3><hr>
<div class="login-tab">
<div class="user-login">
<form>
<div class="form-group">
<label for="name">UserName</label><br>
<input type="tel" id ="name" required="">
</div>
<div class="form-group">
<label for="pwd">Password</label><br>
<input type="password" id="pwd" required="">
</div>
<div class="form-group">
<label for="name"></label>
<input type="checkbox" id="name">Remember me ?
</div>
<div class="user">
<input type="submit" class="text-dark btn btn-outline-primary" value="LOGIN">
</div>
<div class="clear"></div>
</form>
</div>
</div>
</div>
</div>